@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500;1,700');

:root {
   /*  --primary-color:#282828; */
    --primary-color:#800000;
    --secondary-color: #F2F2F2;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:Roboto, sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--secondary-color);
    text-decoration:none; 
    cursor:pointer;  
}


h1, h1 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}



/* Nav */
.nav {
    background-color: var(--primary-color);
    height: 45px;
    
}

.nav ul {
    display: flex;
}

.nav li {
    color:white;
    font-size: .95rem;
    font-weight: bolder;
    padding: 10px;
    margin: 0 5px;
}

.nav .fa-1 {
    font-size: .9em; 
    margin:auto;
    color: var(--primary-color);
    border: var(--secondary-color);
}

/* Welcome */
.welcome {
    background-color: var(--primary-color);
    color: #fff;
    height: 25rem;
}

.welcome .flex {
    flex-direction: column;
    
}

.hi h1 {
    font-size: xx-large;
    justify-content: center;
    display:flex;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
}

.welcome .signature {
    font-family: 'Playfair Display', serif;
    display:inline;
    font-size: 4rem;
    padding: 10px;

}

/* Home - Card */
.card {
    background-color: #E8E8E8;
    color: black;
    padding: 15px;
    width: 25rem;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    position: relative;
    top: -95px;
    z-index: 100;
    justify-self: center;
}

.card ul {
    list-style-type:circle;
    margin-left: 15%;
    padding-top: 10px;
}

.links a {
    padding: 12px 24px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: transform 250ms cubic-bezier(.2,.8,.4,1);
    border-radius: 4%;
    border-style: none;
    width: 250px;
    text-align: center;
    justify-self: center;    
}

.links .a:hover {
    transform: scale(1.10);
}


/* About  - About */
.about .flex {
    flex-direction: column;
}

.icons {
    padding: 8px;
    margin-top: 10px;
}

/* .about button {
    width: 200px;
    height: 50px;
    justify-self: center;
    margin: 8px;
} */

.about .detail a:link, a:visited {
    background-color: var(--primary-color);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}
  
.about.detail a:hover, a:active {
    background-color: white ;
    color: black;
    
}